
<div class="row" >
  <div class="col-lg-3 col-xs-6">
    <div class="list-group shadow-md category-ul sticky-top">
      <a class="list-group-item list-group-item-action" 
          [class.active] = "!category"
          routerLink="/" >All Categories</a>

      <a *ngFor="let c of categories"
      routerLink="/"
      [queryParams] = "{category: c.$key}"
       class="list-group-item list-group-item-action"
       [class.active]="category===c.$key">{{c.name}}</a>
    </div>

  </div>

  <div class="col">
      <div class="row">
          <ng-container *ngFor="let product of filteredProducts; let i = index;" >
              <div class="col">
                  <div class="card d-inline-block m-3 shadow-lg" style="width: 18rem; ">
                    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text">{{product.price | currency:'INR':true}}</p>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
              </div>
         
              <div *ngIf="(i+1)%2===0" class="w-100"></div>
          </ng-container>
          
        
        </div>
        
  </div>

</div>


